@font-face {
    font-family: 'Red Rose';
    src: url('./Red_Rose/static/RedRose-Regular.ttf') format('truetype');
  }

body {
    margin: 0;
}

/*เพิ่ม z-index*/
.foundify {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 10px;
    background-color: white;
    box-shadow: 0 12px 34px rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    z-index: 1000;
}

/*เพิ่ม*/
.foundify i {
    position: absolute;
    left: 10px; 
    padding: 20px;
}

/* .wrapper{
    margin-top: 60px;
} */
.container {
    overflow: hidden;
}

.navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: white;
    -webkit-box-shadow: 0 12px 34px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 12px 34px rgba(0, 0, 0, 0.12);
    box-shadow: 0 12px 34px rgba(0, 0, 0, 0.12);
}

a {
    margin: 0 10px;
}

a img {
    height: 40px;
    width: auto;
    display: block;
}

@media screen and (max-width:820px) {
    .navbar {
        text-align: center;
        width: 100%;
    }

    a {
        display: inline;
        margin: 10px;
        width: 20%;

    }
}

@media screen and (max-width:390px) {
    .navbar {
        text-align: center;
        width: 100%;
        padding: 0px;
    }

    a {
        display: inline;
        width: 15%;
    }
}

body.dark-mode .foundify {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 10px;
    color: aliceblue;
    background-color:#464646;
    box-shadow: 0 12px 34px rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    z-index: 1000;
    font-family: 'Red Rose';
}
