html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: rgb(27,208,204);
    background: linear-gradient(180deg, rgba(35,223,207,1) 35%, rgba(236,255,253,1) 100%);
    background-attachment: fixed;
    display: flex;
    justify-content: center; /* จัดให้อยู่กึ่งกลางแนวนอน */
    align-items: center; /* จัดให้อยู่กึ่งกลางแนวตั้ง */
}

img {
    width: 50%; /* หรือปรับขนาดตามต้องการ */
    height: auto;
}


