@font-face {
    font-family: 'Red Rose';
    src: url('./Red_Rose/static/RedRose-Regular.ttf') format('truetype');
  }

body {
    font-family: 'Red Rose';
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.container2{
    text-align: left;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    text-align: left;
    margin: 10px 0;
    font-size: 16px;
}
input[type="text"], button {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

button:hover {
    background-color: #004d40;
}
.hidden {
    display: none;
}
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}
.popup button {
    width: auto;
    padding: 10px 20px;
}
.dark-mode .popup{
    background-color: #969696;
}
.dark-mode .container2{
    background-color: #969696;
}